:root{

--blanco: #FFF;
--negro:#000;
--amarillo:#FFC300;
--amarillo2:#F3BC47;
--gris:#757575;
--azul:#1F4068;


};
/* ETIQUETAS*/



html{

	box-sizing: border-box;
}
*,*: before, *: after{
	box-sizing: inherit;
}

body{

	font-family:'Krub', sans-serif;
	font-family: 'Roboto Serif', sans-serif;
}
footer{
	text-align: center;
}


/* CLASES*/ 

.navegacion-p a{
	color: var(--blanco);
	text-decoration:none;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem
}

.navegacion-p a:hover{/* para cuando  pasa por arriba */
background-color: var(--amarillo);
color: var(--negro)
}
.titulo{
	text-align: center;
	font-size: 2.8rem;
}
.titulo2{

	font-size: 1rem;

}

.navegacion-p{

	background-color: var(--azul);
	display: flex;
	justify-content: space-between;

}

.contenedor {
	width: 70rem;
	 
	margin: 0 auto;/*
margin-top: 0;
margin-left: auto;
margin-bottom: 0;
margin-right: auto;
*/
}

.nav-p{

background-color: var(--azul);
}
 
 
  

.sombra{

	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
padding: 2rem;
border-radius: 1rem;


}

.servicios{
	display: grid;/* inicializar el grid*/
	 grid-template-columns: 100%  ;/*fr significa una fraccion*/
	 column-gap: 5rem;
	  

}

.servicio{
	display: flex;/* para distribuir en columnas el */
	flex-direction: column;
	align-items: center;
	text-align:justify;
	padding: 1rem;

}

.servicio h3 {
	color: var(--azul);
	 
}

.servicio p{
	text-align: justify;
}


.contenedor h2{
	text-align: center;
}
.iconos{
	height: 15rem;
	width: 30rem;
	background-color: var(--amarillo);
	border-radius: 1rem; 
	display: flex;
	align-items: center;/*centrar arriba -abajo*/
	justify-content: center;/* centrar izquierda-derecha*/


}

.formulario{

background-color: var(--gris);
width: min(40rem,100%);/* para el fondo azul del formulario*/
/*margin: 20px 20px 20px 20px;*/
margin: auto;/* ajustar auomaticamente al centro */
padding: 1rem;  /*para los margenes o distancia del objeto anterior para centar o ubicar  */
border-radius: 1rem;/*border redondos */




}

.formulario fieldset{
	border: none;/*eliminar marco*/
	/** fieldset es una eytiqueta que esta en la calse formulario*/


}
.formulario legend {

color: var(--amarillo);
text-align: center;
font-size: 1.5rem;
text-transform: uppercase;
font-weight: bold;

}

.campo label{

	display: block;/* para salto de linea de las etiquetas se presenta en bloque  */
margin-bottom: 0.5rem;/* margen de abajo*/
margin-top: : 0.5rem;/* margen de arriba*/
color: var(--blanco); 
margin-top: 0.5rem;
}

.campo input{

width: 90%;
border:none;
padding: 1.5rem;
border-radius: 0.5rem;

}